<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>leetcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>leetcode001.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>leetcode002.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>leetcode003.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>leetcode004.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>leetcode005.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>leetcode006.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>leetcode007.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>leetcode008.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>leetcode009.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>leetcode010.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>leetcode011.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>leetcode012.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>leetcode013.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>leetcode014.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>leetcode015.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>leetcode016.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>leetcode017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>leetcode018.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>leetcode019.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>leetcode020.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>leetcode021.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>leetcode022.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>leetcode023.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>leetcode024.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>leetcode025.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>leetcode026.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>leetcode027.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>leetcode028.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>leetcode029.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>leetcode030.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>leetcode190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>leetcode206.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>leetcode257.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>leetcode260.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>902A4C9F1D1D129900B382BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903103B31C2ACD6D00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903103C11C2ACE4F00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903103CE1C2ACF7400AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903103D81C2AD0EB00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903103EA1C2CE99500AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903103F61C2CEA0B00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903103FF1C2CEA0D00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104081C2CEA0F00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104111C2CEA1000AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9031041A1C2CEA1200AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104231C2CEA1300AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9031042C1C2CEA1400AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104351C2CEA1600AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104581C2D1DF800AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104611C2D1DF800AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9031046A1C2D1DF900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104731C2D1DF900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9031047C1C2D1DF900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104851C2D1DF900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9031048E1C2D1DF900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104971C2D1DF900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104A01C2D1DFA00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104A91C2D1DFA00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104B21C2D1DFA00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104BB1C2D1DFA00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104C41C2D1DFA00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104CD1C2D1DFA00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104D61C2D1DFB00AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104DF1C2D1E5700AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104E81C2D1E5700AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104F11C2D1E5900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903104FA1C2D1E5900AEFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9045FFCB1D05687800016608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D7CBAD1CD0DAFF0076F8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DC8D5D1CED57A60006E9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DC8D681CED57CE0006E9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
