<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>leetcode0001.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>leetcode0002.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>leetcode0003.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>leetcode0004.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>leetcode0005.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>leetcode0006.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>leetcode0007.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>leetcode0008.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>leetcode0009.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>leetcode0010.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>leetcode0011.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>leetcode0012.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>leetcode0013.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>leetcode0014.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>leetcode0015.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>leetcode0016.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>leetcode0017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>leetcode0018.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>leetcode0019.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>leetcode0020.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>leetcode0021.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>leetcode0022.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>leetcode0023.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>leetcode0024.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>leetcode0025.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>leetcode0026.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>leetcode0027.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>leetcode0028.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>leetcode0029.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>leetcode0030.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>leetcode0031.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>leetcode0032.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>leetcode0033.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>leetcode0034.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>leetcode0035.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>leetcode0036.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>leetcode0037.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>leetcode0038.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>leetcode0039.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>leetcode0040.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>leetcode0041.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>leetcode0042.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>leetcode0043.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>leetcode0044.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>leetcode0045.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>leetcode0046.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>leetcode0047.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>leetcode0048.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>leetcode0049.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>leetcode0050.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>leetcode0051.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>leetcode0052.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>leetcode0053.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>leetcode0054.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>leetcode0055.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>leetcode0056.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>leetcode0057.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>leetcode0058.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>leetcode0059.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>leetcode0060.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>leetcode0061.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>leetcode0062.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>leetcode0063.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>leetcode0064.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>leetcode0065.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>leetcode0066.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>leetcode0067.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>leetcode0068.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>leetcode0069.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>leetcode0070.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>leetcode0071.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>leetcode0072.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>leetcode0073.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>leetcode0074.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>leetcode0075.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>leetcode0076.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>leetcode0077.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>leetcode0078.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>leetcode0079.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>leetcode0080.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>leetcode0081.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>leetcode0082.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>leetcode0083.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>leetcode0084.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>leetcode0085.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>leetcode0086.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>leetcode0087.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>leetcode0088.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>leetcode0089.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>leetcode0090.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>leetcode0091.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>leetcode0092.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>leetcode0093.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>leetcode0094.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>leetcode0095.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>leetcode0096.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>leetcode0097.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>leetcode0098.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>leetcode0099.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>leetcode0100.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>leetcode0101.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>leetcode0102.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>leetcode0103.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>leetcode0104.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>leetcode0105.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>leetcode0106.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>leetcode0107.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>leetcode0108.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>leetcode0109.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>leetcode0110.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>leetcode0111.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>leetcode0112.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>leetcode0113.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>leetcode0114.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>leetcode0115.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>leetcode0116.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>leetcode0117.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>leetcode0118.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>leetcode0119.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>leetcode0120.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>leetcode0121.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>leetcode0122.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>leetcode0123.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>leetcode0124.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>leetcode0125.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>leetcode0126.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>leetcode0127.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>leetcode0128.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>leetcode0129.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>leetcode0130.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>leetcode0131.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>leetcode0132.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>leetcode0133.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>leetcode0134.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>leetcode0135.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>leetcode0136.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>leetcode0137.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>leetcode0138.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>leetcode0139.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>leetcode0140.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>leetcode0141.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>leetcode0142.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>leetcode0143.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>leetcode0144.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>leetcode0145.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>leetcode0146.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>leetcode0147.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>leetcode0148.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>leetcode0149.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>leetcode0150.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>leetcode0151.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>leetcode0152.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>leetcode0153.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>leetcode0154.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>leetcode0155.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>leetcode0160.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>leetcode0162.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>leetcode0164.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>leetcode0167.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>157</integer>
		</dict>
		<key>leetcode0168.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>leetcode0169.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>164</integer>
		</dict>
		<key>leetcode0190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>leetcode0206.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>leetcode0257.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>leetcode0260.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>leetcode0374.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9035265620BBE6170040F3BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906F5A6420BABE48007F3EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098141B1DB4CBD000B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815621DB4CC9D00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098156E1DB4CD0B00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815791DB4CD1A00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815981DB4CD7600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815A31DB4CD8400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815AE1DB4CD8B00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815B91DB4CD9700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815C41DB4CD9E00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815CF1DB4CDA600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815DA1DB4D1A800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815E51DB4D1AF00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815F01DB4D1B700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909815FB1DB4D1BD00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816061DB4D1C600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816111DB4D1CC00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098161C1DB4D1D300B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816271DB4D1DA00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816321DB4D1E100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098163D1DB4D1E700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816481DB4D1ED00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816531DB4D20200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098165E1DB4D20A00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816691DB4D21400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816741DB4D22600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098167F1DB4D22C00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098168A1DB4D23200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816951DB4D23C00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816A01DB4D24600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816AB1DB4D26100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816B61DB4D26900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816C11DB4D26F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816CC1DB4D27600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816D71DB4D27F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816E21DB4D28600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816ED1DB4D29700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909816F81DB4D29E00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817031DB4D2A400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098170E1DB4D2AA00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817191DB4D2B100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817241DB4D2B800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098172F1DB4D2C200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098173A1DB4D2C900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817451DB4D2D000B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817501DB4D2E300B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098175B1DB4D2E800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817661DB4D2F100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817711DB4D2F700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817AA1DB4D5BD00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817B51DB4D5C400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817C01DB4D5D200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817CB1DB4D5D900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817D61DB4D5E700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817E11DB4D5EF00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817EC1DB4D5F500B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909817F71DB4D5FC00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818021DB4D60B00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098180D1DB4D61100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818181DB4D61900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818231DB4D61F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098182E1DB4D62700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818391DB4D63000B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818441DB4D64500B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098184F1DB4D64C00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098185A1DB4D65200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818651DB4D65C00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818701DB4D66200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098187B1DB4D66900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818861DB4D66F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818911DB4D67600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098189C1DB4D67E00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818A71DB4D68400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818B21DB4D68A00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818BD1DB4D6B000B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818C81DB4D6B600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818D31DB4D6BC00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818DE1DB4D6C600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818E91DB4D6CC00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818F41DB4D6D200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909818FF1DB4D6D900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098190A1DB4D6DF00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819151DB4D6E900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819201DB4D6EF00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098192B1DB4D6F500B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819361DB4D6FD00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819411DB4D70400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098194C1DB4D70B00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819571DB4D71200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819621DB4D72200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098196D1DB4D73200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819781DB4D73800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819831DB4D73D00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9098198E1DB4D74500B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819991DB4D74A00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819A41DB4D75000B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819AF1DB4D77800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819BA1DB4D77E00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819C51DB4D78300B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819D01DB4D78900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819DB1DB4D78F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819E61DB4D79400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819F11DB4D79900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909819FC1DB4D7A100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A381DB5B67300B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A441DB5B68F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A501DB5B6A100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A5C1DB5B6B700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A681DB5B6C600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A741DB5B6DB00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A801DB5B6F300B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A8B1DB5B74A00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981A971DB5B75B00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981AA31DB5B77100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981AAF1DB5B78100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981ABB1DB5B79200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981AC71DB5B79F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981AD31DB5B7AC00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981ADF1DB5B7BB00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981AEB1DB5B81100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981AF71DB5B82200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B031DB5B83900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B0F1DB5B86800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B1B1DB5B87C00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B271DB5B8A100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B331DB5B8D800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B3F1DB5B8EC00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B4B1DB5B8FA00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B571DB5B95000B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B631DB5B95F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B6F1DB5B97300B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B7B1DB5B98100B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B871DB5B98F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B931DB5B99F00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981B9F1DB5B9B200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BAB1DB5B9D900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BB71DB5B9E800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BC31DB5B9F800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BCF1DB5BA0900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BDB1DB5BA1800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BE71DB5BA2800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BF31DB5BA3900B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981BFF1DB5BA7500B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C0B1DB5BA8500B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C171DB5BAC800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C231DB5BAD800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C2F1DB5BAE700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C3B1DB5BAF600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C471DB5BB0800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C531DB5BB1800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C5F1DB5BB2600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C6B1DB5BB3700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C771DB5BB4600B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C831DB5BB5700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C8F1DB5BB7200B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981C9B1DB5BB8700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CA71DB5BB9400B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CB31DB5BBA800B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CBF1DB5BBBA00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CCB1DB5BBC700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CD61DB5BBDF00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CE11DB5BC1700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CED1DB5BC2700B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981CF91DB5BCA500B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981D051DB5BCBA00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981D111DB5BCCE00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981D1D1DB5BCE000B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90981D2A1DB5BCFC00B98889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
